.item-img {
  height: 20vh;
  width: 100%;
  object-fit: contain;
}

.item-name {
  text-transform: capitalize;
  font-size: 1.2em;
}

.item-card {
  border: 0.5px solid gray;
  border-radius: 10px;
}
